
@{
    ViewBag.Title = "ChinhSach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding-top:48px;">
    <center><h2>CHÍNH SÁCH TẠI Baker's House</h2></center>
    <div>
        <img alt="" src="https://cdn.tgdd.vn/Files/2013/07/30/519804/chinh-sach-doi-tra.jpg" style="margin: 0px; padding: 0px; border: 0px; width: 100%;" />
        <p><b>- Áp dụng từ</b>: 01/01/2016</p>
        <p><b>- Nơi thực hiện đổi trả</b>: Toàn hệ thống ncủa hàng Baker's House.</p>
        <p>&gt;&gt; Đổi trả trong vòng 7 ngày.</p>
        <p>&gt;&gt; Sản phẩm lỗi đổi trả miễn phí 100% trong vòng 48h.</p>
        <p>&gt;&gt; Sản phẩm được đổi trả trừ các sản phẩm là nguyên liệu.</p>
    </div>

    <p><a href="#">Chi nhánh TP.HCM</a></p>
    <p>
        <b>Địa chỉ</b>: 140-Lê Trọng Tấn,Q.Tân Phú,TP.HCM

        <br />
        <b>Hotline</b>: 0988493930-0343213839(Hải Đình) - <b>Fax</b>: (08) 1111111
    </p>
    <p><a href="#">Chi nhánh Bình Dương</a></p>
    <p>
        <b>Địa chỉ</b>: 68 Cách Mạng Tháng 8, TP.Thủ Dầu Một, Bình Dương

        <br />
        <b>Hotline</b>: (0292) 3830098 - <b>Fax</b>: (0292) 3830561
    </p>

</div>

