
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="">
    <div class="intro_content">
        <center>
            <h2>
                Chào mừng bạn đến với Baker's House
            </h2>
        </center>

        <p>
            Lời đầu tiên Baker's House xin gửi đến quý khách lời chúc tốt đẹp nhất khi đến thăm Cửa hàng chúng tôi. Kính chúc quý khách sức khỏe, thành đạt và ngày càng phát triển.
        </p>
        <p>
            <b style="color:red">1. Giới thiệu Công Ty</b><br />

            Baker's House chuyên cung cấp các sản phẩm mới nhất. Với đội ngũ nhân viên có trình độ chuyên môn cao, giàu kinh nghiệm, năng động sáng tạo và có thái độ niềm nở trong cung cách phục vụ khách hàng. Tất cả đội ngũ nhân viên trong của hàng luôn lấy mục tiêu “ Khách hàng là thượng đế “ chúng tôi cam kết sẽ mang lại sự hài lòng cho quý khách khi sử dụng dịch vụ của chúng tôi cung cấp.
        </p>
        <p>
            <b style="color:red">2. Quan điểm kinh doanh của Của hàng:</b><br />

            - Luôn cung cấp cho các khách hàng những sản phẩm tốt với giá cả cạnh tranh nhất đi kèm với những chế độ dịch vụ hoàn hảo nhất.<br />

            - Luôn đặt chữ tín lên hàng đầu, không vì lợi nhuận mà gian dối, lừa bịp khách hàng...<br />

            - Luôn đặt mình vào địa vị của khách hàng để có những quyết định, cư xử phải lẽ nhất...<br />

            - Luôn làm hài lòng mọi khách hàng đến với phương châm thấu hiểu và thực hiện theo quan điểm: "Khách hàng luôn luôn đúng".
        </p>
        <p>
            <b style="color:red">3. Chính sách kinh doanh của Cửa hàng</b><br />

            Khi sử dụng dịch vụ của Baker's House, các bạn sẽ cảm thấy hoàn toàn yên tâm và hài lòng về mọi mặt vì Baker's House luôn cung cấp cho các bạn những điều mà bạn mong muốn và quan tâm:<br />

            - Bạn sẽ được bảo đảm về giá và Tuyệt đối không sợ bị hớ.<br />

            - Bạn sẽ được Baker's House phục vụ theo đúng phương châm Khách hàng là thượng đế.<br />

            - Bạn sẽ được hưởng các chính sách, chế độ Dịch vụ số 1 tại Việt Nam. <br />

            - Với sự đầu tư cơ bản về cơ sở hạ tầng, với một ý thức trách nhiệm cao, chúng tôi muốn mang lại Sự an toàn tuyệt đối cho các khách hàng đã sử dụng dịch vụ của công ty chúng tôi bằng. Những cam kết bảo hành có giá trị pháp lý và giá trị thực tế đúng như những gì chúng tôi đã thỏa thuận với khách hàng.
        </p>
    </div>
</div>


