
@{
    ViewBag.Title = "XacThuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="padding:32px 0;">
    <h3>Xác thực tài khoản</h3>

    <div class="row">
        <div class="col-lg-12 col-md-6" style="font-size:1.4rem;">
            Vui lòng kiểm tra Hộp thư đến Email của bạn, một Email xác nhận đã được gửi tới @ViewBag.Email
        </div>
        
    </div>
</div>


